
  <div style="text-align: center;">
    <button (click)="create_sale()" class="boton" style="font-size: 40px;">Crear oferta de cervezas</button>
    <p style="font-weight: bold;">Personas suscritas a la oferta: {{ beer.observers.length}}</p>
  </div>

  <div>
    <div style="width: 50%; float: left; text-align: center;">
      <h2>Bezael</h2>

      <button *ngIf="bezael === undefined || bezael.closed" (click)="bezael_susbcribe()" class="boton" >Subscribir</button>
      <button *ngIf="bezael !==undefined && !bezael.closed" (click)="bezael.unsubscribe()" class="boton">desubscribir</button>
      <div style="margin-top: 10px;">
        <img class="bordes" width="250" src="assets/bezael.jpg">
        <div *ngIf="gifbezael">
          <img width="250" src="assets/beers.gif">
        </div>
        <p *ngIf="bezael !==undefined && !bezael.closed" style="font-weight: bold; color:blue">Subscrito</p>
      </div>

    </div>
    <div style="width: 50%; float: left; text-align: center;">
      <h2>Héctor</h2>

      <button *ngIf="hector === undefined || hector.closed" (click)="hector_susbcribe()" class="boton" >Subscribir</button>
      <button *ngIf="hector !==undefined && !hector.closed" (click)="hector.unsubscribe()" class="boton" >desubscribir</button>
      <div style="margin-top: 10px;">
        <img class="bordes" width="250" src="assets/hector.jpg">
        <div *ngIf="gifhector">
          <img width="250" src="assets/beers.gif">
        </div>
        <p *ngIf="hector !==undefined && !hector.closed" style="font-weight: bold; color:blue">Subscrito</p>
      </div>

    </div>
  </div>

<router-outlet></router-outlet>
